*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(87, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-node{
    margin: auto;
    background-color: #fff;
    width: 500px;
    height: 300px;
}

h1, h2{
    text-align: center;
}

.txt{
    margin: 10px;
}
p{
    margin: 10px;
}