.post{
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
  }
  
  .post:hover{
    transform: scale(1.02);
  }
  
  .post img{
    max-width: 100%;
  }
  
  .post-content{
    padding: 30px;
  }