*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(71, 6, 175);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-date{
    margin: auto;
    background-color: #fff;
    width: 500px;
    height: 300px;
}

h1, h2{
    text-align: center;
}
